html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #EEEEEE;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main {
  display: block;
  width: 100%;
}
.logo {
  display: inline-block;
  width: 50%;
  padding-left: 15px;
}
.logo a {
  font-family: Inter;
  font-style: bold;
  font-weight: 200;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}
.menu {
  display: inline-block;
  text-align: end;
  width: 50%;
  background: #FF37AF;
  padding: 30px 0px;
  height: 926px;
  /* right: 0px;
  top: -58px; */
}
.menu a , .mobile_menu a {
  padding: 0 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #111111;
}
.get {
  color: #3B37FF !important;
}
.headers {
  display: inline-flex;
}
.mobile_menu nav.navbar {
  display: none;
}
.mobile_menu .btnicon {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  display: none;
}
img {
    width: 31px;
    margin-right: 12px;
}

/* Banner section css satrt  */

.banner_content {
  width: 871px;
  position: absolute;
  top: 63%;
  left: auto;
  right: auto;
  bottom: auto;
}
.title {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 112px;
    line-height: 146px;
    /* display: flex;
    align-items: flex-end; */
    letter-spacing: 0.05em;
    color: #111111;
    margin-bottom: 15px;
}
.title span {
  color: #FF37AF;
}
.banner_content p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 456px;
    margin-bottom: 15px;
}
.banner_content .ourlink {
  color: #3B37FF;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: end;
}
.banner_content .ourlink:after {
  content: '';
  display: inline-block;
  background-image: url('/vector 1.png');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 8px;
}
.banner_img {
  display: inline-block;
  background-image: url('/bannerimg2.png');
  background-repeat: no-repeat;
  width: 376px;
  height: 263px;
  position: absolute;
    left: auto;
    right: 12.2%;
    bottom: -5%;
}
.banner_section{
position: relative;
}
/* Banner Section css end  */

/* Slider Section css end  */
.slider_content {
  padding: 50px 0;
  width: 100%;
  display: inline-block;
}
.slider_img img{
  width: 213.52px;
  height: 40.7px;
}
/* Slider Section css end  */

/* responsive css start  */
@media only screen and (max-width: 992px) {
  .menu a{padding: 0 10px; font-size: 16px;}
}
@media only screen and (max-width: 629px) {
  .menu a{font-size: 14px;}
}
@media only screen and (max-width: 567px) {
  .logo a{line-height: 32px;width: 154px; height: 47px;}
  .headers{display: table; margin: 0 auto;}
  .main{padding: 23px 20px;}
  .headers nav.navbar{display: none;font-size: 20px; line-height: 100%;}
  .mobile_menu .btnicon{display: contents;}
  .mobile_menu nav.navbar{display: block; background-color: white; height: auto; width: 200px; padding: 20px 0px; height: 900px; transition: left 0.4s linear;} 
  .mobile_menu nav.navbar a { display: block; width: 100%; margin-top: 24px;}
  .mobile_nav{position: absolute;top: 0px; left: 0; right: auto;bottom: auto;}
  .menu{position: absolute; top: 0;left: auto; right:0; width: 40%; padding: 40px 0px;}
  .mobile_menu{display: inline-block;}
  .get{font-size: 20px !important;}
  .btnicon .open{margin-bottom: 4px;}
  .close { display: inline-block; float:right;margin-right: 20px;}
}
@media only screen and (max-width: 420px){
  .logo a{height: 35px;}
  .menu{padding: 33px 0px;}
  .logo img{width: 23px;}
  .btnicon .open{height: 17px;width: 17px;}
}
@media only screen and (max-width: 330px) {
  /* .main{padding: 22px 10px;} */
  .get{font-size: 15px !important;}
  .mobile_menu nav.navbar{width: 180px;}
  .menu{padding: 31px 0px;}
}
/* responsive css end  */